[*.cs]

# CS0675: Bitwise-or operator used on a sign-extended operand
dotnet_diagnostic.CS0675.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none

# CS8629: Nullable value type may be null.
dotnet_diagnostic.CS8629.severity = none

dotnet_diagnostic.CS0414.severity = none

dotnet_diagnostic.XLS0505.severity = none